<div class="center">
    <p>
    <input type="text" [formControl]="palabraBusqueda" placeholder="palabra"/>&nbsp;
    <button (click)="busqueda()"><span class="bi bi-binoculars green-color"></span> Buscar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="ordenar()"><span id="ordenarFecha" class="bi bi-arrow-down"></span> Ordenar por fecha</button>
    </p>
</div>

<div>
    <ol>        
        <ul *ngFor="let noticia of noticias;">
            <div>                
                <h3><a id='{{noticia.id}}' (click)="ingresarAfavoritos(noticia)" class='bi bi-star-fill green-color'></a> {{noticia.fecha}} {{noticia.title}}</h3>
                <a href='{{noticia.url}}' target="_blank">Descripcion</a> 
                <p>{{noticia.summary}}</p>
                
                <hr>
            </div>
        </ul>
    </ol>
</div>

<div class="center">
    <button id="atras" (click)="paginarAtras()"><span class="bi-arrow-left-square-fill green-color"></span> Atras</button>
    {{this.respuesta.offset}} de {{this.respuesta.count}} noticias 
    <button id="adelante" (click)="paginarAdelante()">Adelante <span class="bi-arrow-right-square-fill green-color"></span></button>  
</div>